@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 60px;
    text-decoration: underline;
    text-shadow: 3px 2px white;
    text-align: center;
    
}h1:hover { transform: scale(1.2); }

.Menu,select{
    font-size: 25px;
    text-align: center;
}   
select{
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-radius: 12px;
    font-weight: bold;
}
label{
    font-weight: bold;
    text-shadow: 1px 1px white;
}
option{
    background-color: white;
    font-weight: bold;
}
button{
    font-size: 28px;
    font-weight: lighter;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}button:hover { transform: scale(1.1); }

#transition-modal-title{
    text-decoration: underline;
}
